.menu li > :not(ul, .menu-title, details, .btn).active,
.menu li > :not(ul, .menu-title, details, .btn):active,
.menu li > details > summary:active {
  background-color: transparent !important;
  color: gray !important;
  text-decoration: underline;
}

.menu li > :not(ul, .menu-title, details, .btn).hover,
.menu li > :not(ul, .menu-title, details, .btn):hover,
.menu li > details > summary:hover {
  background-color: transparent !important;
  color: gray !important;
}
