.menu li > :not(ul, .menu-title, details, .btn).active,
.menu li > :not(ul, .menu-title, details, .btn):active,
.menu li > details > summary:active {
  background-color: transparent !important;
  color: black !important;
  text-decoration: none;
}

.menu li > :not(ul, .menu-title, details, .btn).hover,
.menu li > :not(ul, .menu-title, details, .btn):hover,
.menu li > details > summary:hover {
  background-color: transparent !important;
  color: black !important;
  text-decoration: none;
}
body {
  background-color: white;
}

.title {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 200;
  font-style: normal;
  color: rgb(67, 67, 67);
}
.title_loc {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 700;
  font-style: normal;
  color: rgb(67, 67, 67);
}
p h1 h2 h3 h4 span div {
  color: rgb(67, 67, 67);
}

.title_share {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 32px;
  color: rgb(67, 67, 67);
}

.libre-text {
  font-family: "Libre Franklin", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  color: rgb(67, 67, 67);
  font-size: 0.875rem;
}
.testemonial {
  font-family: "Libre Franklin", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  color: rgb(67, 67, 67);
  font-style: italic;
  font-size: 0.875rem;
}

video {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
body {
  background-color: white;
}

label {
  margin-bottom: -5px;
}
